<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <%= @code.html_safe %>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
        <span>
          Option One
        </span>
        </p>
        <p class="card-footer-item">
        <span>
          Option Two
        </span>
        </p>
      </footer>
    </div>
  </div>
</div>
